<nav class="navbar navbar-default xh-navbar">
    <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="tab in tabs" ng-class = "{active: selectActive(tab.tabNumber)}">
        	<a ng-href="/#/{{tab.url}}" ng-click="changeTab(tab.tabNumber)">{{tab.name}}</a>
        </li>
    </ul>
    <h3 class="text-muted xh-logo">My Learning Playground</h3>
</nav>
    
<div ng-view=""></div>

<div class="footer xh-footer">
    <p>This website belongs to - <a ng-href="https://www.linkedin.com/pub/xianhe-huang/5a/64a/91b">Xianhe Huang</a></p>
</div>
